*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "josefin sans";
}
span{
    color: #B71710 ;
}
 
/* top-bar part start form here */
#top-bar{
    width: 100%;
    height: 100%;
    background-color: #18496B;
}
.contact-details{
    display: flex;
}
.contact-details p{
    padding:5px 20px 5px 0px;
    margin: 0;
    color: #FFF;
}
.contact-details i{
    padding: 8px 5px 0px 0px;
    color: white;
}
/* top-bar part end form here */

/* whatsapp part start from here */
#social{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    position: fixed;
    left: 10px;
}
#social i{
    font-size: 30px;
    color: #FFF;
}
/* whatsapp part end from here */



/* navbar part start from here */
#navbar{
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #FFF;
}
header nav img{
    width: 100px;
    height: 80px;
}
header ul li a{
    padding: 10px 25px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    color: black !important;
    transition: 0.7s !important;
}
header ul li a:hover{
    color: #FFC600 !important
}
.active{
    color: #FFC600 !important;
}
/* navbar part end from here */

/* carousel part start from here */
.carousel-indicators [data-bs-target]{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: gray;
}
#carousel img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
#carousel .anime-data{
    color: black;
}
#carousel button{
    animation: downtoup 1.5s;
}
.anime-data h1{
    font-size: 50px;
    animation: uptodown 1.5s ;
}
.anime-data p{
    font-size: 30px;
    animation: righttoleft 1.5s;
}
@keyframes uptodown{
    from{
        transform: translateY(-1000px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes righttoleft{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes downtoup{
    from{
        transform: translateY(1000px);
    }to{
        transform: translateY(0px);
    }
}
/* carousel part end from here */

/* welcome-msg start from here */
#welcome-msg P{
    text-align: center;
    line-height: 30px;
}
/* welcome-msg end from here */


/* product part start from here */
.card{
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-text{
    margin: 0 !important;
}
/* product part end from here */

/* contact form start from here */

#contact-form input{
    margin-bottom: 20px;
}
#contact-form select{
    width: 100%;
    height: 38px;
    border-radius: 5px;
    background-color: #FFF;
    margin-bottom: 20px;
}
#contact-form textarea{
    height: 120px;
    resize: none;
}
#btn{
    border: none;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #B71710;
    color: #fff;
}
/* contact form end from here */








/* footer part start from here */
#footer{
    background-color: black;
    color: #FFF;
}
#footer p{
    text-align: justify;
}
#footer a{
    display: block;
    color: #FFF;
    text-decoration: none;
    line-height: 40px;
}
#footer h3{
    margin:10px 0px;
}
.address{
    display: flex;
    gap: 20px;
}
/* footer part end from here */